.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: gray;

  .title {
    span {
      margin-left: 10px;
      border: 1px solid #7551f883;
      border-radius: 5px;
      select {
        color: gray;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }

  .chartGrid {
    stroke: rgba(211, 211, 211, 0.76);
  }
}
