.single {
  display: flex;

  .singleContainer {
    flex: 6;
    align-items: center;

    .top {
      display: flex;
      margin: 20px;
      margin-bottom: 0;
      padding: 20px;
      -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(155, 155, 155, 0.47);
      background-color: #7551f883;
      font-size: 28px;
    }

    .bottom {
      display: flex;
      padding: 20px;
      gap: 1rem;
      justify-content: space-between;

      .left {
        display: flex;
        flex-direction: column;
        flex: 2;
        gap: 1rem;
        height: 50%;

        .left-top {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          flex: 1;
          -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          padding: 10px;
          color: black;

          .activityName {
            font-size: 24px;
            font-weight: bold;
          }
          .date {
            font-size: 18px;
          }
        }

        .left-middle {
          height: 100%;
          flex: 4;
          -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          padding: 10px;

          .leaflet-container {
            width: 100%;
            height: 100vh;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        flex: 2;
        gap: 1rem;
        height: 50%;

        .right-top {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 2rem;
          flex: 1;
          -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          padding: 10px;
          color: black;

          .distance,
          .movingTime,
          .elapsedTime {
            font-weight: bold;
            font-size: 24px;

            .distanceText,
            .movingTimeText,
            .elapsedTimeText {
              font-size: 18px;
            }
          }
        }

        .right-bottom {
          display: flex;
          height: 100%;
          flex: 4;
          -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          padding: 10px;

          .tableHead {
            color: #121212;
            background-color: #7551f883;
            .tableCell {
              font-size: 20px;
            }
          }
          .table {
            background-size: 100% 200%;
            background-image: linear-gradient(
              to bottom,
              #ffffff 50%,
              #7551f883 50%
            );
            -webkit-transition: background-position 0.25s;
            -moz-transition: background-position 0.25s;
            transition: background-position 0.25s;

            &:hover {
              background-position: 0 -100%;
            }
          }
          .empty {
            display: flex;
            flex: 6;
          }
        }
      }
    }
  }
}
