.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 100px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(160, 160, 160);
    }
    .counter {
      font-size: 18px;
      padding: 5px;
      color: rgb(160, 160, 160);
    }
    .percentage {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 14px;
      border-radius: 5px;
      padding: 2px;

      &.positive {
        color: rgb(0, 128, 0);
        background-color: rgba(0, 128, 0, 0.25);
        border: 1px solid rgba(0, 128, 0, 0.25);
      }
      &.negative {
        color: red;
        background-color: rgba(255, 0, 0, 0.25);
        border: 1px solid rgba(255, 0, 0, 0.25);
      }
    }

    .icons {
      align-self: flex-end;
    }

    .icon {
      font-size: 18px;
      padding: 5px;
      border-radius: 5px;
    }
  }
}
