.me {
  display: flex;
  overflow: cover;
  .main {
    display: flex;
    flex-direction: column;
    flex: 6;
    align-self: flex-end;
    justify-content: flex-start;
    height: 100vh;

    .meContainer {
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 75%;

      .top {
        display: flex;
        margin: 20px;
        margin-bottom: 0;
        padding: 20px;
        -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(155, 155, 155, 0.47);
        background-color: #7551f883;
        font-size: 28px;
      }

      .bottom {
        display: flex;
        padding: 20px;
        gap: 1rem;
        flex-direction: row-reverse;

        .bottom-left {
          display: flex;
          gap: 1.5rem;
          padding: 20px;
          flex-direction: column;
          flex: 1;
          width: 33%;
          -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(155, 155, 155, 0.47);

          .profileTitle {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;

            .profile-right {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 0.75rem;

              .followingCount {
                font-size: 20px;
                p {
                  font-size: 14px;
                  margin: 0;
                }
              }

              .followerCount {
                font-size: 20px;
                p {
                  font-size: 14px;
                  margin: 0;
                }
              }
              .follow {
                a {
                  display: inline-block;
                  background-color: #fc5200;
                  color: #fff;
                  padding: 5px 10px 5px 30px;
                  font-size: 11px;
                  font-family: Helvetica, Arial, sans-serif;
                  white-space: nowrap;
                  text-decoration: none;
                  background-repeat: no-repeat;
                  background-position: 10px center;
                  border-radius: 3px;
                  background-image: url("https://badges.strava.com/logo-strava-echelon.png");
                }
                img {
                  margin-left: 2px;
                  vertical-align: text-bottom;
                  height: 13;
                  width: 51;
                }
              }
            }
          }

          .profPic {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid rgba(0, 0, 0, 0.521);
          }

          .icon {
            color: gray;
            font-size: medium;
          }

          .name {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 0;
            margin-top: 0;
          }

          .location {
            font-size: 14px;
            color: gray;
            margin-top: 0;
          }

          .social {
            font-size: 14px;
            margin-top: 0;
          }

          p {
            display: flex;
            align-items: center;
            margin-bottom: 0;
          }
          .clubs {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .clubTitle {
              font-size: 24px;
              margin-top: 0;
            }
          }
        }

        .bottom-right {
          display: flex;
          justify-content: center;
          padding: 20px;
          margin: auto;
          flex: 2;
          -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(155, 155, 155, 0.47);

          .icon {
            color: #7451f8;
            background-color: #7551f87e;
            padding: 5px;
            border-radius: 5px;
            font-size: 28px;
            border: 1px solid #6841f771;
          }
          .tableHead {
            background-color: #7551f883;
          }
          .tableHeadText {
            font-weight: bold;
            font-size: 20px;
          }
        }
      }
    }
  }
}
