@import "/src/utils/variables.scss";

.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(163, 162, 162);
  min-height: 100vh;
  width: $SIDEBAR_WIDTH;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid rgb(163, 162, 162);

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #7451f8;
    }
  }

  .center {
    padding-left: 10px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        background: linear-gradient(to left, #ffffff 50%, #ece8ff 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.25s ease-out;

        &:hover {
          background-position: left bottom;
        }

        .icon {
          font-size: 18px;
          color: #7451f8;
        }

        span {
          font-size: 13px;
          font-weight: 600;
          margin-left: 10px;
        }
      }
      .clubs,
      .routes,
      .logout {
        cursor: not-allowed;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: flex-start;
    margin: 10px;
    margin-top: 0;
    flex-direction: column;

    .picker {
      display: flex;
      flex-direction: row;
    }

    .title {
      font-size: 10px;
      font-weight: bold;
      color: #999;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    .colorOptions {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;
      &.grow {
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
