.featured {
  flex: 2;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;

    .title {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      width: 100%;
    }
  }

  .bottom {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .heatCal {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex: 1;
    }

    .title {
      font-weight: 500;
      color: gray;
      text-align: center;
      margin: 0;
    }
  }
}
